services:
  portainer:
    image: {{ docker_images.portainer_agent }}
    container_name: portainer
    restart: unless-stopped
    ports:
      - "{{ portainer_agent_bind_ip }}:9001:9001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
